    * {
        font-family: 'Open Sans', sans-serif;
    }

.dnb-loading
{
    background: transparent url(../img/processing.gif) center center no-repeat;
    height: 30px;
}

ul.horz
{
    padding: 0;
}
ul.horz li
{
display: inline;
list-style-type: none;
padding-right: 0;
}
    .panel-heading {
        background-color: #81afd0;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        text-shadow: 1px 1px #4c7592;
        letter-spacing: 0.07em;

    }

    .panel {
        background-color: #f6f6f6;
        border: 0;
        border-radius: 0;
    }

    .panel-heading {
        border-radius: 0;
        border: 1px solid #749cb0;
    }

    .panel-body {
        border: 1px solid #cacaca;
        border-radius: 0;
    }

    .nav-pills>li>a
    {
        border-radius: 0;
        font-size: 18px;
        font-weight: 400;
        color: #cfcfcf;
    }
    .nav-pills>li
    {
                height: 100%;

    }

    .panel>.nav-justified
    {
        border-left: 1px solid #cacaca;
        border-right: 1px solid #cacaca;
        heightx: 100px;
    }

    .nav-pills>li.active>a,
    .nav-pills>li.active>a:hover,
    .nav-pills>li.active>a:focus
    {
        background-color: #dbe5ef;
        color: #333;

    }

    .dnb-badge-stack
    {
        position: relative;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
    }

    .dnb-badge-stack>*
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }


    .dnb-badge
    {
        color: #30a567;
        font-size: 30px;
        line-height: 30px;
    }

    .dnb-badge-label
    {
        color: #fff;
        font-size: 12px;
        line-height: 36px;
    }

    .dnb-badge::after
    {
        content: '\002B22';

    }

    .dnb-badge-circle::after
    {
        font-size: 85%;
        content: '\002B24';
    }

    .dnb-badge-up::after
    {
        font-size: xx;
        content: '\002191';

    }

    .dnb-badge-yellow
    {
        color: #f7b41f;
    }

    .dnb-badge-red
    {
        color: #da736d;
    }

    .dnb-badge-stack-large
    {
        width: 60px;
        height: 60px;
    }
    .dnb-badge-stack-large .dnb-badge
    {
        font-size: 60px;
        line-height: 60px;
    }
    .dnb-badge-stack-large .dnb-badge-label
    {
        color: #fff;
        font-size: 24px;
        line-height: 72px;
    }

    .dnb-risk-gradient
    {
        border: 1px solid #cacaca;
        background-color: #f0f0f0;
        border-radius: 3px;
        padding: 2px;
        margin: 6px auto;
        width: 300px;
        position: relative;
    }
    .dnb-risk-gradient-inner
    {
        background: #da736d;
        background: -moz-linear-gradient(left,  #da736d 0%, #f7b41f 50%, #30a567 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#da736d), color-stop(50%,#f7b41f), color-stop(100%,#30a567));
        background: -webkit-linear-gradient(left,  #da736d 0%,#f7b41f 50%,#30a567 100%);
        background: -o-linear-gradient(left,  #da736d 0%,#f7b41f 50%,#30a567 100%);
        background: -ms-linear-gradient(left,  #da736d 0%,#f7b41f 50%,#30a567 100%);
        background: linear-gradient(to right,  #da736d 0%,#f7b41f 50%,#30a567 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da736d', endColorstr='#30a567',GradientType=1 );
        border-radius: 2px;
        height: 20px;
    }
    .dnb-risk-gradient-badge-container
    {
        position: absolute;
        top: 0;
        left: 100%;
    }
    .dnb-risk-gradient-badge
    {
        position: absolute;
        top: -5px;
        left: -15px;
        color: #333333;
        font-size: 30px;
        line-height: 30px;
        width: 30px;
    }
    .dnb-risk-gradient-badge::after
    {
        content: '\002B22';

    }
    .dnb-risk-gradient-badge-label
    {
        top: 3px;
        text-align: center;
        position: absolute;
        width: 30px;
        color: #fff;
        font-size: 12px;
        line-height: 30px;
    }
